/* font setup */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
}

/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.dim-text {
  color: rgba(255, 255, 255, 0.615);
  line-height: 24px;
}

.green-text {
  font-size: 48px;
  font-weight: 900;
  padding: 15px 0;
  color: #00FF88;
}

.gradient-text {
  background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-btn {
  background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
}

/* navbar related style */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1A0B2E;
  padding-top: 50px;
  padding-bottom: 20px;
}

.nav-left {
  font-size: 32px;
  font-weight: 900;
}

.nav-mid {
  display: flex;
}

.nav-mid li {
  list-style: none;
  margin: 0 30px;
  display: flex;
  align-items: center;
}

.nav-mid li a {
  text-decoration: none;
}

.hamburger {
  height: 20px;
  display: none;
}

/* hero section related style */
.hero-container {
  background-image: url("/assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  position: relative;
}

.mic {
  position: absolute;
  left: 47%;
  bottom: 52%;
}

.hero-title {
  font-size: 60px;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 15px;
}

.btn-div {
  padding-top: 20px;
}

/* animation and badge-button related style */
.hero-btn-2 {
  background-color: transparent;
  color: #00FF88;
  border: 1px solid #00FF88;
  border-radius: 20px;
  padding: 10px 30px;

  border: 2px solid #00FF88;
  animation: blinking-badge 2s linear infinite;
}

@keyframes blinking-badge {

  0%,
  50%,
  100% {
    box-shadow: 4px 3px 10px #00ff0d;
  }

  25%,
  75% {
    border-color: #ae09fb;
    box-shadow: 0 0 30px #fb0909;
  }
}

.new-badge {
  background-color: #00FF88;
  color: black;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 20px;
  position: absolute;
  left: 55%;
  bottom: 80%;
}

/* podcast section related style */
.podcast-container {
  background-color: #1A0B2E;
}

.podcast-container>div {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.upper {
  padding-bottom: 80px;
}

.lower {
  display: flex;
  justify-content: space-around;
  border-top: 1px dashed rgba(128, 128, 128, 0.288);
  padding-top: 80px;
  padding-bottom: 80px;
}

.podcast-title {
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0;
}

.star {
  font-size: 34px;
  color: #00FF88;
}

/* grid related container */
.grid-container {
  background-color: #1A0B2E;
  padding: 100px 350px;
}

.grid-container h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 48px;
}

.grid-div-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 240px);
  gap: 20px;
}

.five-divs {
  background-color: #351165;
  border-radius: 20px;
  padding: 25px;
}

.five-divs h3 {
  margin: 20px 0;
}

.premium {
  grid-row: span 2;
  padding-top: 120px;
}

.mobile,
.global,
.exclusive {
  grid-column: span 2;
}

/* episode related style */
.episode-container {
  background-color: #1A0B2E;
  padding: 100px 350px;
}

.episode-container h1 {
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
}

.video-div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.three-div {
  background-color: #250D44;
  border-radius: 20px;
  width: 250px;
  padding-bottom: 20px;
}

.youtube-video {
  height: 145px;
  width: 250px;
  border-radius: 20px;
}

.video-title {
  margin: 15px 0;
  padding: 0 10px;
}

.video-description {
  padding: 0 10px;
}

.duration-div {
  display: flex;
  gap: 5px;
  padding-left: 20px;
  margin-top: 20px;
}

.duration-div img {
  height: 20px;
}

.duration {
  color: #00FF88;
}

/* host related style */
.host-container {
  background-color: #1A0B2E;
  padding: 50px 350px;
}

.host-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.host-info-div {
  background-color: #230E3D;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.host-name {
  font-size: 30px;
  margin-bottom: 20px;
}

.host-about {
  margin-bottom: 20px;
}

.host-icon-div {
  display: flex;
  gap: 30px;
  align-items: center;
}

.host-icons {
  border: 2px solid #130425;
  padding: 20px;
  border-radius: 50%;
}

/* footer related style */
.footer-container {
  background: url("/assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-title {
  font-size: 100px;
  text-align: center;
  padding: 20px 0;
}

.logo-div {
  display: flex;
  justify-content: space-evenly;
  padding: 60px 350px 90px;
}

.tech {
  display: flex;
  gap: 10px;
}

.footer-icons {
  width: 25px;
}

.copyright {
  text-align: center;
  padding-bottom: 50px;
}

/* small device */
@media screen and (max-width: 576px) {

  /* navbar */
  .nav-container {
    justify-content: space-between;
    padding: 20px;
  }

  .nav-left {
    font-size: 24px;
    font-weight: 700;
  }

  .nav-mid {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .hamburger {
    display: inline;
  }

  /* hero */
  .hero-container {
    background-position: top;
    padding: 70px 0px;
    min-height: 400px;
  }

  .hero-circle {
    height: 220px;
    width: 220px;
  }

  .new-badge {
    left: 55%;
    bottom: 80%;
  }

  .mic {
    height: 90px;
    width: 60px;
    left: 43%;
    bottom: 60%;
  }

  .hero-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
  }

  /* podcast */
  .podcast-container>div {
    width: 95%;
  }

  .upper {
    padding-bottom: 40px;
  }

  .lower {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .podcast-title {
    font-size: 24px;
    font-weight: 700;
  }

  .podcast-details {
    font-size: 12px;
  }

  .green-text {
    font-size: 20px;
    font-weight: 700;
    padding: 5px 0;
    color: #00FF88;
  }

  .star {
    font-size: 14px;
    color: #00FF88;
  }

  .podcast-text {
    font-size: 9px;
  }

  /* grid */
  .grid-container {
    padding: 50px 10px;
  }

  .grid-container h1 {
    font-size: 28px;
  }

  .grid-div-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 250px);
  }

  .five-divs {
    padding: 15px;
  }

  .five-divs h3 {
    margin: 10px 0;
  }

  .premium {
    grid-row: span 1;
    padding-top: 20px;
  }

  .mobile,
  .global,
  .exclusive {
    grid-column: span 1;
  }

  /* episode */
  .episode-container {
    padding: 20px 10px;
    width: 100%;
  }

  .episode-container h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .video-div {
    flex-direction: column;
    gap: 20px;
  }

  .three-div {
    border: 1px solid #d0ddd7;
    width: 100%;
  }

  .youtube-video {
    height: 245px;
    width: 100%;
    border-radius: 20px;
  }

  /* host*/
  .host-container {
    padding: 20px 10px;
    width: 100%;
  }

  .host-title {
    font-size: 30px;
    margin: 20px 0;
    padding-bottom: 20px;
  }

  .host-info-div {
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 30px;
  }

  .host-name {
    font-size: 24px;
  }

  .host-icon-div {
    justify-content: center;
  }

  /* footer related style */
  .footer-container {
    background: url("/assets/footer-bg.png");
    background-position: top;
    width: 100%;
  }

  .footer-title {
    font-size: 40px;
  }

  .logo-div {
    justify-content: space-evenly;
    padding: 10px 0px 30px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .tech {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .tech-name {
    font-size: 20px;
  }

  .footer-icons {
    width: 20px;
    height: 20px;
  }

  .copyright {
    padding-bottom: 30px;
  }
}